BIRDEYE_API_KEY=
BIRDEYE_PACKAGE=standard
BIRDEYE_TOKEN_SECURITY_ENABLED=
DATABASE_URL=
CRON_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
DEMO_MODE=true

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
BIRDEYE_ACCOUNT_RPS=1
BIRDEYE_ACCOUNT_RPM=50
BIRDEYE_WALLET_RPS=5
BIRDEYE_WALLET_RPM=30
